footer {
    background-color: var(--cn-dark);
    padding: var(--sp-regular) var(--sp-regular) !important;
}

footer .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .container > * {
    display: flex;
    align-items: center;
}

footer .right img {
    height: 1rem;
    border-radius: var(--br-in);
}
