{{navbar}}
<main class="container gap-regular">
    <div class="card">
        <h1 class="ts-hero tw-black">{{title}}</h1>
        <span class="tf-mono">{{date}}</span>
    </div>
    {{article}}
</main>
{{footer}}