<div class="article-card grid-col-4 card big gap-regular">
    <div class="top gap-regular">
        <span class="tw-bold">{{title}}</span>
        <span><code>{{date}}</code></span>
    </div>
    <a href="{{link}}" class="btn">Read article</a>
</div>