<footer id="footer">
    <div class="container">
        <div class="left">
            <span class="tc-light">Eloi Hariot 2026</span>
        </div>
        <div class="right gap-regular">
            <img src="/Assets/pan_flag.svg" alt="Pansexual Flag">
            <img src="/Assets/pride_flag.svg" alt="Pride Flag">
        </div>
    </div>
</footer>