{{navbar}}
<main class="container gap-regular">
    <section id="hero">
        <h1 class="ts-huge tw-black">Eloi Hariot</h1>
        <p class="ts-hero tw-bold">Hi! I'm a french developper and FOSS enjoyer from Paris</p>
    </section>
    <hr class="separator">
    <section id="portfolio">
        <h2 class="ts-display tw-bold">Portfolio</h2>
    </section>
    <hr class="separator">
    <section id="blog">
        <h2 class="ts-display tw-bold">Blog</h2>
    </section>
</main>
{{footer}}