{{navbar}}
<main class="container gap-regular">
    <section id="hero">
        <h1 class="ts-huge tw-black">Eloi Hariot</h1>
        <p class="ts-hero tw-bold">Hi! I'm a french developper and FOSS enjoyer from Paris</p>
    </section>
    <hr class="separator">
    <section id="portfolio" class="gap-regular">
        <div class="title">
            <h2 class="ts-display tw-bold">Portfolio</h2>
            <a href="/portfolio" class="tc-primary">See more</a>
        </div>
        <div class="grid-row gap-regular">
            {{projects_preview}}
        </div>
    </section>
    <hr class="separator">
    <section id="blog" class="gap-regular">
        <div class="title">
            <h2 class="ts-display tw-bold">Blog</h2>
            <a href="/blog?page=1" class="tc-primary">See more</a>
        </div>
        <div class="grid-row gap-regular">
            {{articles_preview}}
        </div>
    </section>
</main>
{{footer}}