<header>
    <div class="container card big">
        <div class="left gap-regular">
            <li><a href="/" class="tc-default">Home</a></li>
            <li><a href="/projects?page=1" class="tc-default">Projects</a></li>
            <li><a href="/blog?page=1" class="tc-default">Blog</a></li>
            <li><a href="/contacts" class="tc-default">Contacts</a></li>
        </div>
        <div class="right">
            <a href="https://www.sidaction.org/"><img src="/Assets/sidaction.svg" alt="Sidaction icon"></a>
        </div>
    </div>
</header>