{{navbar}}
<main class="container gap-regular">
    <div class="grid-row gap-regular">
        <div class="left grid-col-8 gap-regular">
            <h1 class="ts-hero tw-black">{{title}}</h1>
            <span><code>{{date}}</code></span>
            <p>{{description}}</p>
            <span><a target="_blank" href="{{external_link}}" class="btn">See sources</a></span>
        </div>
        <div class="right grid-col-4">
            <img src="{{img}}" alt="{{title}} presentation image">
        </div>
    </div>
    {{project}}
</main>
{{footer}}