{{navbar}}
<main class="container gap-regular">
    <section id="hero">
        <h1 class="ts-huge tw-black">Error 500!</h1>
        <p class="ts-hero tw-bold">Sorry, server internal error :/</p>
    </section>
</main>
{{footer}}