.blog {
    padding: 64px;
}

.blog .card {
    background-color: hsl(0, 0%, 95%);
    border-radius: 8px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-between;
}

.blog .card  {
    height: 100%;
}

.blog .see-more {
    display: block;
}

.blog .blog-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blog .text-characteristics {
    display: flex;
    align-items: center;
}