.contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contacts h2 {
    text-align: center;
}

.contacts ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}