.navbar {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.navbar.scrolled {
    background-color: hsla(0, 0%, 100%, 75%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.navbar nav .right ul {
    display: flex;
    align-items: center;
}