<header class="navbar">
    <link rel="stylesheet" href="/Styles/navbar.css">
    <script src="/Scripts/navbar.js"></script>
    <nav class="container">
        <div class="left"></div>
        <div class="right">
            <ul class="gap-8">
                <li><a href="/" class="text-weight-medium">Home</a></li>
                <li><a href="/projects" class="text-weight-medium">My projects</a></li>
                <li><a href="/contacts" class="text-weight-medium">Contact me</a></li>
            </ul>
        </div>
    </nav>
</header>